* {
    /*m0+p0*/
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}
.page-background {
    height: 768px;
    width: 1366px;
    max-width: 100%;
    background: url("../img/background 1.png");
}
.nav-bar {
    width: 1030px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 46px;
}
.nav-logo {
    display: flex;
    align-content: flex-start;
    text-decoration: none;
    position: relative;
}
.logo-bar {
    position: absolute;
    padding: 5px 8px 5px 0;
    height: 47px;
}
.logo-color {
    padding: 5px 8px 5px 0;
    height: 47px;
}

.nav-logo:hover .logo-bar {
    opacity: 0;
}
.nav-logo:hover .logo-color {
    opacity: 1;
}
.nav-logo:hover .top-text {
    color: #F26522;
}
.top-text {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}
.top-text-span {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 5px;
}
.contacts {
    display: flex;
    flex-direction: column;
}
.contacts>a:hover{
    color: #F26522;
}
.contacts-email {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.contacts-phone {
    text-align: end;
    margin-left: auto;
    margin-top: 25px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.tours-container {
    width: 1030px;
    height: 560px;
    margin: 0 auto;
    margin-top: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    grid-gap: 37px 64px;
}
.tour-card {
    width: 299px;
    height: 260px;
}
.tour-link {
    text-decoration: none;
}
.card-img {
    position: relative;
    width: 299px;
    height: 220px;
}
.card-price {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    right: 0;
    background: #F26522;
    visibility: hidden;
    position: absolute;
}
.tour-card:hover .card-price {
    visibility: visible;
}
.price-from {
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    padding-top: 7px;
    padding-left: 16px;
    padding-bottom: 8px;
}
.price-cost {
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 16px;
    padding-bottom: 12px;
}
.price-details {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    display: flex;
    align-items: flex-end;
    padding-bottom: 12px;
    padding-right: 18px;
}
.price-details::after {
    content: url("../img/Vector 1.png");
    padding-left: 18px;
}
.tours-name {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
}
.tour-card:hover .tours-name {
    color: #F26522;
}
.bottom-info {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 48px;
}
